{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Putsal's Profile</title>
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<section class="about">
		<img src="{% static 'images/Free.jpg' %}" class="img_about">
		<svg> <rect></rect> </svg>

		<header class="sectionbar" role="navigation" aria-label="main navigation">
				<ul>					
					<a href="{% url 'homepage:about' %}"><h2>About</h2></a>
					
					<a href="{% url 'homepage:contact' %}"> Contact </a>
				</ul>
		</header>

		<div class="about_content">
			<li><img src="{% static 'images/Box 1.png' %}" class="img_box"></li>
			<img src="{% static 'images/Foto Putsal.png' %}" class="img_profile">
			<li><img src="{% static 'images/Box 2.png' %}" class="img_box"></li>
		</div>

		<footer><a href="{% url 'homepage:home' %}">
			<img src="{% static 'images/homebtn.png' %}" class="homebtn">
		</a></footer>
	</section>
</body>

</html>