{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Putsal's Profile</title>
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<section class="contact">
		<img src="{% static 'images/Contact Cropped.png' %}" class="img_contact">
		<svg style="background: rgba(0, 0, 0, 0.55);"> <rect></rect> </svg>

		<header class="sectionbar" role="navigation" aria-label="main navigation">
				<ul>
					<a href="{% url 'homepage:about' %}"> About </a>
					
					<a href="{% url 'homepage:contact' %}"><h2>Contact</h2></a>
				</ul>
		</header>

		<div class="contact_png">
			<li><a href=""><img src="{% static 'images/phone.png' %}"></li></a>
			<li><a href=""><img src="{% static 'images/email.png' %}"></li></a>
			<li><a href="line://ti/p/putrisalsa_l"><img src="{% static 'images/line.png' %}"></a></li>
			<li><a href="https://instagram.com/putrisalsa_l"><img src="{% static 'images/instagram.png' %}"></a></li>
		</div>

		<div class="cont_text">
			<li class="text">0812 7976 0029</li>
			<li class="text2">putrisalsa2607@gmail.com</li>
			<li class="text3">putrisalsa_l</li>
			<li class="text3">putrisalsa_l</li>
		</div>

		<footer><a href="{% url 'homepage:home' %}">
			<img src="{% static 'images/homebtn.png' %}" class="homebtn">
		</a></footer>
	</section>
</body>

</html>