{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Putsal's Profile</title>
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<section class="homepage">
		<img src="{% static 'images/Cover.jpg' %}" class="img_home">
		<svg> <rect></rect> </svg>

		<header>
			Graphic Design Lover &nbsp; &otimes;  &nbsp; UI/UX Designer Wanna Be
		</header>
		<h1>Putri Salsabila</h1>
		
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<ul style="margin-left: auto; margin-right: auto;">
				<a href="{% url 'homepage:about' %}"> About </a>
				
				<a href="{% url 'homepage:contact' %}"> Contact </a>
			</ul>
		</nav>
	</section>
</body>

</html>